/* src/app/components/notes/note-edit/note-edit.component.scss */
.note-edit {
  form {
    display: flex;
    flex-direction: column;

    div {
      margin-bottom: 1rem;
    }

    label {
      font-weight: bold;
    }

    input,
    textarea {
      width: 100%;
      padding: 0.5rem;
    }

    button {
      width: 100px;
      padding: 0.5rem;
      align-self: flex-start;
    }
  }
}
